#displayedBreed{
  width: 50%;
  max-height: 30%;
  border: 3px solid green;
  padding: 50px;
  margin: auto;
  align-items: center;
  background-color: darkgray;
    
}

.displayedBreedImage{

  max-width: 50%;
  max-height: 100%;

  /* #portrait {
    height: 80px;
    width: 30px;
  }

  .landscape {
    height: 30px;
    width: 80px;
  }

  .square {
    height: 75px;
    width: 75px;
  } */
}